@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}


.menu-lateral {
    width: 290px;
    transition: width 0.3s ease;
    background-color: #181818;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-lateral.fechado {
    width: 70px;
    cursor: e-resize;
}

.menu-lateral.fechado p {
    display: none;
}

.menu-lateral.fechado .menu-usuario p {
    display: none;
}

.menu-lateral.fechado .botao-menu {
    justify-content: center;
}

.menu-lateral.fechado .botao-menu img {
    margin-right: 0;
}

.menu-lateral.fechado #fechar-menu {
    display: none;
}


.area-estudos {
    flex: 1;
    background-color: #212121;
    display: flex;
    flex-direction: column;
}


.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#logo {
    width: 35px;
}

#fechar-menu {
    width: 22px;
    height: 22px;
    cursor: pointer;
    border-radius: 5px;
}

#fechar-menu:hover {
    background-color: #303030;
}


.botao-menu {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #AFAFAF;
    font-weight: 600;
    font-size: 10pt;
    padding: 7px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    margin: 3px;
}

.botao-menu img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.botao-menu:hover {
    background-color: #303030;
}

.botao-menu:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    filter: grayscale(100%);
}


.linha-divisoria {
    height: 1px;
    background-color: #AFAFAF;
    opacity: 0.3;
    margin: 7px 0px;
}


.menu-pastas {
    flex: 1;
    overflow-y: auto;
}

.menu-usuario {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-usuario p {
    color: white;
    font-size: 11pt;
    font-weight: 400;
    margin-left: 10px;
}

.menu-topo {
    display: flex;
    padding: 10px 20px;
}

.menu-topo p {
    background-image: linear-gradient(to right, #A259FF, #6C3EFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 15pt;
}

.estudos {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bem-vindo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bem-vindo p {
    background-image: linear-gradient(to right, #A259FF, #6C3EFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 35pt;
}
